@import url(./reset.css);


.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

:root {
    --app-dark-bg: #1a1d28;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-red: #ff3c57;
    --app-light-gray: #f9f9f9;
    --app--purple: #7339ac;
    --app-white: #fff;
    --app-lightgrey: #9a9a9a;
    --app-black: #000;
}

/*-------------------Header--------------------*/

.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft,
.headerRight {
    display: flex;
    align-items: center;
}

.headerRight {
    margin-left: 400px;
}

.heading {
    font-size: 29px;
    font-weight: 500;
    letter-spacing: 0.2px;
    cursor: pointer;
    color: #33ab4e;
    text-decoration: none;
}

.heading:hover {
    color: #33ab4e;
}

a>span {
    margin: 0 20px;
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}

a>span:hover {
    color: #33ab4e;
}







/*-------------------Cards--------------------*/

.cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor: pointer;
    min-width: 200px;
    height: 300px;
    z-index: 0;
    border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards__img {
    height: 300px;
}

.cards__overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 0;
    transition: opacity .2s;
}

.cards__overlay:hover {
    opacity: 1;
}

.card__title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card__runtime {
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

.card__rating {
    float: right;
}

.card__description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

/*-------------------MovieList--------------------*/

.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
    font-size: 1.75rem;
    margin: 2.5rem;
}

.list__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*-------------------App--------------------*/

.App {
    color: white;
    font-family: sans-serif;
}


/*-------------------Home--------------------*/


.posterImage {
    height: 600px;
}

.posterImage>img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
    opacity: 1;
    transition: opacity .3s;
}

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage__runtime {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage__rating {
    margin-left: 3rem;
}

.posterImage__description {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}

/*-------------------MovieDetail--------------------*/

.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie__intro {
    width: 80%;
}

.movie__backdrop {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 0 35%;
}

.movie__detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
}

.movie__detailLeft {
    margin-right: 30px;
}

.movie__poster {
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content: space-between;
}

.movie__detailRightTop>div {
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.movie__name {
    font-weight: 600;
    font-size: 3rem;
}

.movie__voteCount {
    margin-left: 1rem;
}

.movie__genres {
    margin: 1.25rem 0;
}

.movie__genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
}


.movie__detailRightBottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsisText {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}

.synopsisText>div:last-of-type {
    margin-left: auto;
}

.movie__links {
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.movie__heading {
    font-size: 2.2rem;
}

.movie__Button {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 180px;
    height: 50px;
    color: black;
    font-weight: bold;
    font-size: 19px;
    margin-left: 480px;
}



.movie__imdbButton {
    background-color: #c7d31a;
}

.newTab {
    margin-left: 1.4rem;
}

.movie__production {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}


.movie__productionComapany {
    width: 200px;
    margin: 2rem;
}

.productionCompanyImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*-------------------Footer--------------------*/

footer {
    height: 56px;
    border: 1px solid rgb(18, 16, 16);
    text-align: center;
}

footer p {
    font-size: 22px;
    line-height: 56px;
    color: #fff;
    font-weight: 500;
}

/*-------------------ErrorPager--------------------*/

.ErrorPage {
    height: 100vh;
    display: block;
    margin-left: 500px;
    margin-top: 250px;
    color: #ff3c57;
}

.ErrorPage h1 {
    font-size: 40px;
}

.ErrorPage p {
    font-size: 30px;
}

/*-------------------Reactform--------------------*/

.new-form {
    margin-bottom: 20px;
    height: 100vh;
    display: block;
    margin-left: 300px;
    margin-top: 30px;
}

.new-form h2 {
    margin-bottom: 30px;
}

.new-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
}

.new-form input,
.new-form textarea {
    height: 40px;
    width: 360px;
    padding: 10px;
    border: 1px solid rgb(248, 243, 243);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    color: var(--app-white);
    background-color: #3d3d3d;
    margin-bottom: 10px;
}

.new-form button {
    display: block;
    height: 40px;
    width: 110px;
    background-color: #e68020;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 250px;
    cursor: pointer;
}